doctype html
html(lang='en')

    head
        title MONK Boilerplate

        include includes/head.pug

    body#body
        div.text-center.m-3.p-3.border
            h1 This is MONK's Boilerplate
            p
                img(src="./assets/img/logo.png" width="64px")
            p
                button.btn.btn-primary(type="button" data-bs-toggle="modal" data-bs-target="#exampleModal")
                    | Make a question to MONK
            p
                | My name is MONK and I'm a minimalist pugJS boilerplate, why MONKS says <em>'LESS IS MORE'</em>

        .modal.fade#exampleModal(tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
            .modal-dialog
                .modal-content
                    .modal-header
                        h5.modal-title MONK says
                        button.btn-close(data-bs-dismiss="modal" aria-label="Close")
                    .modal-body
                        p All you need is MONK's Boilerplate.
                    .modal-footer
                        button(type="button" class="btn btn-primary" data-bs-dismiss="modal") I agree
                        button(type="button" class="btn btn-secondary") Wrong choice


    //Footer
    include includes/footer.pug
